# SQL Part 1 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free to reference your notebook.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You work for a small independant book store and you want to increase sales by running various promotions.  Start by becoming more familar with the BooksDB.

## Part 1. BooksDB Questions

<span style="color: rgba(0, 0, 0, 0.87); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; background-color: rgb(255, 255, 255);">Question 1:&nbsp; Write a query of the books table, returning the TOP 100 results and&nbsp; includes, book_id, authors, title, average_rating.&nbsp; Use an alias for at least one column and in descending order of rating.&nbsp; What is the number one book?</span>

In [ ]:
-- return top 100 results
sunita

Question 2: Write a query to find the least popular book.

In [ ]:
-- return least popular book

Question 3: Which tag is the most popular?

In [ ]:
-- return most popular tag

Question 4: What is the name of the most popular tag?

In [ ]:
-- return name of most popular tag

Question 5: How many books where released in the first decade of 2000?

In [ ]:
-- return number of books published in the first decade of 2000

Question 6: How many book titles contain the word Happy?

In [ ]:
-- return number of books that contain the word Happy

Question 7: List the books from the top 3 authors from question 1.  If there is more than one author just use the first one. Sort the titles <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">alphabetically by author and then by average_rating, best rated to lowest. Does order matter in sorting?</span>

In [ ]:
-- return all books from the top 3 authors, sort by author and rating

Question 8: Take a close look at J.K. Rowling.  Is her top rated book on this list from question 1?  Why might this be? How could we account for this?

> Click here to add your answer.

Try updating your above query to include all of J.K. Rowling's books.

Are there any other issues?

> Click here to add your answer.

In [ ]:
-- Try updating your above query to include all of J.K. Rowling's books

Question 9: Write a query that returns the number of Authors whose first name is between rock and roll.

In [ ]:
-- return number of authors whose first name is between rock and roll

## Part 2. Write your own question and write a query to answer it.

Your Question:  Click here to add

In [ ]:
-- Add your querry here

Your Question: Click here to add

In [ ]:
-- Add your querry here

**Some Question Examples:**

Write a query that returns the longest title?

Which Author has written the most books?  

Top  ten books written the year I was born?